root = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

ktlint_standard_annotation = disabled
ktlint_standard_annotation-spacing = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_filename = disabled
ktlint_standard_indent = enabled
ktlint_standard_no-empty-first-line-in-method-block = disabled
ktlint_standard_package-name = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_spacing-between-declarations-with-comments = disabled
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled
ktlint_standard_wrapping = enabled
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
